@page
@model AboutModel
@{
    ViewData["Title"] = "About us";
}
<style>
    .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .team-member {
        text-align: center;
        margin: 20px;
    }

    .team-member-photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>


<div class="page-container">
    <h1>@ViewData["Title"]</h1>

    @foreach (var teamMember in Model.TeamMembers)
    {
        <div class="team-member">
            <h2>@teamMember.Name</h2>
            <img class="team-member-photo" src="@teamMember.PhotoUrl" alt="@teamMember.Name" />
            <p>@teamMember.ShortDescription</p>
            <p>@teamMember.Description</p>
        </div>
    }
</div>